*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.4s;
    user-select: none;
}
.main{
    height: 100vh;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 6px double ;
    background-color: #00000020;
}
/* كلمة man  */
.head h2 p {
    display: inline;
    margin-left: 4px;
}
/* كلمة Hungman   */
.head h2 {
    font-size: 30px;
}
/* ال hover على كلمة Hung  */
.head h2:hover #hung{
    color: red ;
}
/* ال hover على كلمة man  */
.head h2:hover #man {
    color: #ff000091;
}
/* تلميح عن نوع الكلمة   */
.wordFrom{
    color: #1ab409;
    text-transform: capitalize;
}




/* بداية ال body */
.body{
    width: 95%;
    display: flex;
    background-color: #111;
    height: 70%;
    margin: 10px auto;
    border-radius: 12px;
}
/* مكان المشنقة */
.draw{
    flex: 1;
    background-color: #ffffff40;
    
}
/*  الاب تاع المشنقة */
.hung{
    padding: 10PX;
    position: relative;
}

/* قاعدة المشنقة */
.hung .hung1{
    height: 4px;
    width: 100px;
    background-color: #222;
    position: relative;
    top: 500px;
    margin-left: 25%;
    margin-right: auto;
    border-radius: 10px;
    display: none;
}
.draw.wrong-1 .hung1{
    display: block;
}
/*  العمود */
.hung1::after{
    content: "";
    height: 350px;
    width: 4px;
    background-color: #222;
    position: absolute;
    top: -350px;
    left: 50px;
    border-radius: 10px 10px 0px 0px;
    display: none;
}
.draw.wrong-2 .hung1::after{
    display: block;
}
/*  الحديدة من فوق */
.hung .hung2{
    height: 4px;
    width: 150px;
    background-color: #222;
    position: relative;
    top: 170px;
    margin-right: auto;
    margin-left: 32%;
    border-radius: 10px;
    display: none;
}
.draw.wrong-3 .hung2{
    display: block;
}
/*  الحديد اللي نازل  */
.hung2::before{
    content: "";
    height: 30px;
    width: 4px;
    background-color: #222;
    position: absolute;
    left: 130px;
    border-radius: 0px 0px 10px 10px;
    display: none;
}
.draw.wrong-4 .hung2::before{
    display: block;
}
/*  الحبل نفسو */
.hung2::after{
    content: "";
    height: 50px;
    width: 50px;
    border: 4px dashed #222;
    border-radius: 50%;
    position: absolute;
    left: 103px;
    top: 20px;
    display: none;
}
.draw.wrong-5 .hung2::after{
    display: block;
}


/* راس المشنوق */
.manHead{
    height: 20px;
    width: 20px;
    border: 4px solid #222;
    border-radius: 50%;
    position: absolute;
    top: 220px;
    left: 352px;
    display: none;
}
.draw.wrong-6 .manHead{
    display: block;
}
/* جسم المشنوق */
.manBody{
    height: 115px;
    width: 4px;
    background-color: #222;
    position: absolute;
    top: 245px;
    left: 364px;
    display: none;
}

.draw.wrong-7 .manBody{
    display: block;
}
/* يد يسار المشنوق */
.manHands::after{
    content: "";
    height: 30px;
    width: 4px;
    background-color: #222;
    position: absolute;
    top: 260px;
    left: 353px;
    transform: rotate(40deg);

}
.manHands{
    display: none;
}

.draw.wrong-8 .manHands{
    display: block;
}
/* يد يمين المشنوق */
.manHands::before{
    content: "";
    height: 30px;
    width: 4px;
    background-color: #222;
    position: absolute;
    top: 260px;
    left: 375.8px;
    transform: rotate(-40deg);

}
/* رجل يسار المشنوق */
.manLegs::after{
    content: "";
    height: 30px;
    width: 4px;
    background-color: #222;
    position: absolute;
    top: 355px;
    left: 353px;
    transform: rotate(40deg);

}

.manLegs{
    display: none;
}

.draw.wrong-9 .manLegs
{
    display: block;
}
/* رجل يمين المشنوق */
.manLegs::before{
    content: "";
    height: 30px;
    width: 4px;
    background-color: #222;
    position: absolute;
    top: 355px;
    left: 375.8px;
    transform: rotate(-40deg);

}





/* مكان الحروف*/
.letters{
    flex: 1;
    background-color: #ffffff30;
    text-align: center;
    padding-top: 20px;
}
/* الحرف نفسو */
.letter{
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border: 1px solid;
    background-color: #fff;
    font-weight: 800;
    width: 55px;
    font-size: 24px;
    text-align: center;
    border-radius: 9px;
    cursor: pointer;
}
.letter:not(.clicked):hover{
    background-color: #ffffff70;
}





.foot{
    margin: 10px;
    padding: 25px;
    border-radius: 12px;
    border: 6px double ;
    background-color: #00000020;
    text-align: center;

}
 .foot .letterAnswer{
    width: 30px;
    height: 4px;
    padding: 10px;
    border-bottom: 4px solid ;
    font-size: 25PX;
    font-weight: 900;
    margin: 10px;
} 
.foot .letterAnswerSpace{
    background-color: none;
    border-bottom: none;
    position: relative;
    margin: 20px;
} 
.foot .letterAnswerSpace::after{
    content: '';
    width: 30px;
    height: 4px;
    background-color: #1500ff;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50% , -50%);
}



.clicked{
    background-color: #ffffff30;
    cursor: auto;
}


  .popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex; justify-content: center; align-items: center;
    z-index: 999;
}

.popup-content {
    background: white;
    padding: 20px 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px #000;
    max-width: 90%;
    width: 400px;
}

/* تصميم popup الفوز */
.win-popup .popup-content {
    border: 4px solid #4CAF50; /* لون أخضر */
    color: #2e7d32;
}

/* تصميم popup الخسارة */
.lose-popup .popup-content {
    border: 4px solid #f44336; /* لون أحمر */
    color: #b71c1c;
}

/* زر الإعادة */
.popup-content button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #2196F3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-content button:hover {
    background-color: #1565c0;
}

/* إخفاء العنصر */
.hidden {
    display: none;
}

  






 /* للشاشات الصغيرة  */
@media (min-width :600px) and (max-width : 850px) {
    .manHead{
        left: 213px;
    } 
    .manBody{
        left: 225px;
    }
    .manHands::after{
        left: 215px;
    }
    .manHands::before{
        left: 235.8px;
    }
    .manLegs::after{
        left: 215px;
    }
    .manLegs::before{
        left: 235.8px;
    }
    .foot span {
        padding: 4px;
        border-bottom: 3px solid ;
        font-size: 20PX;
        font-weight: 900;
    }
}